@model ArtavBlog.Models.Account.ApplicationUserViewModel
@{
    ViewData["Title"] = Model.Username;
}
<h1 class="text-align-right">@ViewData["Title"]</h1>
<hr />
<br />
<div class="col-md-6 text-align-right">
    <div class="form-group">
        <label asp-for="Username"></label>
        <input asp-for="Username" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="ActivationStatus"></label>
        <input asp-for="ActivationStatus" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="Description"></label>
        <textarea asp-for="Description" class="form-control"></textarea>
    </div>
</div>


