@model ArtavBlog.Models.Account.ApplicationUser
@{
    ViewData["Title"] = "اطلاعات کاربری";
}

<p></p>
<h2 class="text-align-right">@ViewData["Title"]</h2>
<hr />

<div class="row text-align-right">
    <div class="col-md-10 col-md-offset-2">
        <div class="form-group ">
            <form asp-controller="Account" asp-action="" method="post">
            </form>
        </div>
    </div>
</div>
