@using Microsoft.AspNetCore.Identity
@model IEnumerable<ArtavBlog.Models.Account.ApplicationUser>
@{

    var index = 1;
}

<p></p>
<h2 class="text-align-right">@ViewData["Title"]</h2>
<hr />
<div class="col-md-8">
    <table class="table table-responsive">
        <thead class="bg-primary">
            <tr>
                <td>
                    ردیف
                </td>
                <td>
                    نام کاربری
                </td>
            </tr>
        </thead>
        <tbody>
            @foreach (ArtavBlog.Models.Account.ApplicationUser item in Model)
            {
                <tr>
                    <td>
                        @index
                    </td>
                    <td>
                        @item.UserName
                    </td>
                    @*<td>
                            <a href="/account/roledetail?role=@item.Id">content</a>
                        </td>*@
                </tr>
                index++;
            }
        </tbody>
    </table>
</div>