@model IEnumerable<ArtavBlog.Models.Blog.Post>
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ArtavBlog.Models.Account.ApplicationUser> SignInManager
@{
    ViewData["Title"] = "Index";
    var shamsi = new AvizheCalendar.BLL.WorkingWithPersianCalendar();
}

<div class="container">
    <h1 class="mt-4 mb-3 text-align-right">
        بلاگ تخصصی
        <small>ورزش ، تغذیه و سبک زندگی</small>
    </h1>
    <div class="row">

        <div class="col-md-8">
            @foreach (ArtavBlog.Models.Blog.Post item in Model)
            {
                var picUrl = "/Setting/GetImageByUrl?imageUrl=~/images/Post/" + item.ID + "/" + item.PostPictureName;
                <div class="card mb-4">
                    <img class="card-img-top" src="@picUrl" alt="Card image cap">
                    <div class="card-body">
                        <h2 class="card-title">@item.Title</h2>
                        <p class="card-text">@item.ContentInBrief</p>
                        <a href="/blog/post?postId=@item.ID" class="btn btn-primary">بیشتر بدانید &rarr;</a>
                        @if (!SignInManager.IsSignedIn(User))
                        {
                            @if (User.IsInRole("User"))
                            {
                                <a href="/blog/details?postId=@item.ID" class="btn btn-success">تغییر &rarr;</a>
                            }
                        }


                    </div>
                    <div class="card-footer text-muted">
                        ارسال شده در
                        @shamsi.GregorianToPersian(item.CreateDateAndTime)
                    </div>
                </div>
            }
        </div>
        @await Html.PartialAsync("Partial/_blogSidebar")
    </div>
</div>

